<div data-controller="{{ componentName }}"
     data-action="HomeListItemComponent:homeListItemInfo@window->{{ componentName }}#handleMessageHomeListItemInfo"
     data-modal-component-content>

    <section class="d-flex  flex-column  p-3  p-sm-4">
        <div class="flex-shrink-0  d-flex  flex-row  justify-content-start">

            <img class="img-thumbnail  mb-1  item-info__image "
                 src=""
                 title="{{ lang.imageTitle }}"
                 alt="{{ lang.imageAlt }}"
                 data-js-item-image>

            <div class="d-flex  flex-column  w-100">
                <h2 class="display-6  ms-2  text-break"
                    data-js-item-title>
                    { item title }
                </h2>
                <hr class="solid  m-2">

                {% block imageBelow %}

                <small class="fs-6  text-secondary  ms-2">
                    {{ lang.createdOn }} <small data-js-item-date>{ item date }</small>
                </small>

                {% endblock imageBelow %}

            </div>

        </div>
        <div class="mt-4">
            {% block mainFirstBlock %}
            {% endblock mainFirstBlock %}

            {% block mainSecondBlock %}
            {% endblock mainSecondBlock %}
        </div>
    </section>

    {% block secondaryFirstBlock %}
    {% endblock secondaryFirstBlock %}

    <div class="d-flex  justify-content-end  mt-5">
        <button type="button"
                class="btn btn-primary  flex-grow-1"
                data-bs-dismiss="modal">
            {{ lang.closeButtonTitle }}
        </button>
    </div>
</div>