{% trans_default_domain 'PaginatorComponent' %}

<nav data-controller="PaginatorComponent">

	{% if pageList|length > 1 %}

		<ul class="pagination justify-content-center">
			{% if data.pageCurrent > 1 %}

				<li class="page-item">
					<a class="page-link" href="{{ data.pageCurrent == 1 ? '' : pagePreviousUrl }}">
						{{ 'page.previous'|trans }}
					</a>
				</li>

			{% endif %}

			{% for page in pageList %}

				{% if (page.url is null or page.active) %}

					<li class="page-item  {{ page.active ? 'active' : 'disabled' }}">
						<span class="page-link">

							{{ page.text }}
						</span>
					</li>

				{% else %}

					<li class="page-item  {{ page.active ? 'active' : '' }}">
						<a class="page-link" href="{{ page.url }}">

							{{ page.text }}
						</a>
					</li>
				{% endif %}

			{% endfor %}

			{% if data.pageCurrent < data.pagesTotal %}

				<li class="page-item">
					<a class="page-link" href="{{ data.pageCurrent == data.pagesTotal ? '' : pageNextUrl }}">

						{{ 'page.next'|trans }}
					</a>
				</li>

			{% endif %}

		</ul>

	{% endif %}

</nav>
